<%- include('partials/header'); -%>
    <div class="card m-3 p-3 post-content">
        <h3 class="card-title"><%= title %></h3>
        <p class="card-text"><%= body %></p>
      </div>
<%- include('partials/footer'); -%>